{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block content %}
<div class="container my-5">
  {% bootstrap_messages %}
  <div class="card">
    <div class="card-body">
      <form action="{% url 'order' %}" method="post" class="form" novalidate>
        {% csrf_token %}

        {% bootstrap_form form %}

        {% bootstrap_button button_type="submit" content="Заказать" %}
        {% bootstrap_button button_type="reset" content="Сбросить" %}

      </form>
    </div>
  </div>
</div>
{% endblock %}